
@font-face {
    font-family: "timess";
    src: url(../Fonts/times_sans_serif/TIMESS__.ttf);
}

.container {
    margin-left: 40%;
}
.logo {
    width: 10% ;
    position: relative;
    margin-left: 45%;
}

nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo {
    width: 10%;
}
nav { 
    text-align: center; 
}



body {
    font-family: sans-serif Verdana, Geneva, Tahoma, sans-serif; 
}


.centrado{
    margin-left: 20%;
    margin-right: 20%;
}
h1 {
font-family: "timess";
color: black; 
text-align: center;
}

article {
    text-align: center;
    width: 100%;
}

.borde-redondo {
    border-radius: 15px;
    position: relative;

}

.img-small {
width: 700px;
}

p {
    font-style: oblique;
}

.contacto {
    text-align: center ;
}


