
@font-face {
    font-family: "timess";
    src: url(../Fonts/times_sans_serif/TIMESS__.ttf);
}

nav {
    background-color: white ; 
    text-align: center;
}

body {
    font-family: sans-serif Verdana, Geneva, Tahoma, sans-serif; 
}

h1 {
font-family: "timess";
color: black; 
text-align: center;
}

article {
    text-align: center;
}

.borde-redondo {
    border-radius: 15px;
    position: relative;
}





